* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}
body,
html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url(../asset/img_banner.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-weight: 700;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 80px;
    margin: 80px;
    margin-bottom: 160px;
}
.swiper {
    width: 100%;
    height: 300px;
}
.swiper-slide {
    font-weight: 700;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../asset/img_banner.jpg);
    text-shadow: 2px 2px 4px #000000;
    color: white;
    text-align: left;
    font-size: 30px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: flex-end;
    text-overflow: ellipsis;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-title {
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 60px;
    margin: 40px;
}
.video-js {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translateX(-400px);
}
.back-button {
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}